---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: democratic-csi
      version: 0.15.1
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      enabled: true
      strategy: node
      externalAttacher:
        enabled: false

      externalProvisioner:
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
          - --node-deployment-immediate-binding=true
          - --feature-gates=Topology=true
          - --strict-topology=true
          - --enable-capacity=true
          - --capacity-ownerref-level=1

      # distributed support is not yet ready
      externalResizer:
        enabled: false

      externalSnapshotter:
        enabled: true
        extraArgs:
          - --leader-election=false
          - --node-deployment=true

    csiDriver:
      name: "org.democratic-csi.zfs-local-dataset"
      storageCapacity: false
      fsGroupPolicy: File
      attachRequired: false

    driver:
      config:
        driver: zfs-local-dataset

        zfs:
          datasetParentName: rpool/k8s/volumes
          detachedSnapshotsDatasetParentName: rpool/k8s/snapshots

          datasetEnableQuotas: true
          datasetEnableReservation: false

    storageClasses:
      - name: zfs
        defaultClass: true
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: zfs

    volumeSnapshotClasses:
      - name: zfs
        deletionPolicy: Retain
        parameters:
          detachedSnapshots: "true"
        secrets:
          snapshotter-secret:
