apiVersion: batch/v1
kind: CronJob
metadata:
  name: demo-controller
  namespace: preview
spec:
  schedule: "0 */5 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: demo-controller
          containers:
            - name: demo-controller
              image: ghcr.io/fluxcd/flux-cli:v2.7.3@sha256:334f73637220fe587fcc8439f35a841c92c44d4695895fd04c77731bd418f14e
              imagePullPolicy: IfNotPresent
              command:
                - /bin/sh
                - -c
                - |
                  #!/bin/bash

                  set -o errexit
                  set -o nounset

                  kubectl scale --replicas=0 --namespace=preview deployment/demo-server

                  kubectl rollout restart --namespace=preview statefulset/demo-redis-master
                  kubectl delete cluster demo-database --wait=true --cascade=foreground --namespace=preview
                  flux reconcile kustomization demo-deployment --namespace=flux-system

                  kubectl scale --replicas=1 --namespace=preview deployment/demo-server
          restartPolicy: OnFailure
