---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actions-runner-set
spec:
  interval: 30m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: "0.13.1"
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    runnerScaleSetName: mich
    githubConfigUrl: https://github.com/immich-app
    minRunners: 1
    maxRunners: 10
    githubConfigSecret: actions-controller-github-auth
    template:
      spec:
        initContainers:
        - name: init-dind-externals
          image: ghcr.io/immich-app/actions-runner:main
          command: ["cp"]
          args: ["-r", "-v", "/home/runner/externals/.", "/home/runner/tmpDir/"]
          volumeMounts:
            - name: dind-externals
              mountPath: /home/runner/tmpDir
        containers:
        - name: runner
          image: ghcr.io/immich-app/actions-runner:main
          imagePullPolicy: Always
          command: ["/home/runner/run.sh"]
          env:
            - name: DOCKER_HOST
              value: unix:///run/docker/docker.sock
            - name: RUNNER_WAIT_FOR_DOCKER_IN_SECONDS
              value: '120'
            - name: CUSTOM_ACTIONS_RESULTS_URL
              value: "http://actions-cache.actions-cache.svc.cluster.local:3000"
          volumeMounts:
            - name: work
              mountPath: /home/runner/_work
            - name: dind-sock
              mountPath: /run/docker
              readOnly: true
        - name: dind
          image: docker:29.2.1-dind@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
          args:
            - dockerd
            - --host=unix:///run/docker/docker.sock
            - --group=$(DOCKER_GROUP_GID)
          env:
            - name: DOCKER_GROUP_GID
              value: "123"
          securityContext:
            privileged: true
          volumeMounts:
            - name: work
              mountPath: /home/runner/_work
            - name: dind-sock
              mountPath: /run/docker
            - name: dind-externals
              mountPath: /home/runner/externals
            - name: varlibdocker
              mountPath: /var/lib/docker
            - name: daemon-json
              mountPath: /etc/docker/daemon.json
              readOnly: true
              subPath: daemon.json
        volumes:
        - name: work
          emptyDir: {}
        - name: dind-sock
          emptyDir: {}
        - name: dind-externals
          emptyDir: {}
        - name: varlibdocker
          emptyDir: {}
        - name: daemon-json
          configMap:
            name: docker-daemon-config
    controllerServiceAccount:
      namespace: actions-controller
      name: actions-runner-controller-gha-rs-controller
