---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: hedgedoc
  namespace: tools
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      main:
        containers:
          main:
            image:
              repository: quay.io/hedgedoc/hedgedoc
              pullPolicy: IfNotPresent
              tag: 1.9.9
            env:
              PUID: 1000
              PGID: 1000
              CMD_DB_URL: "sqlite:/data/hedgedoc.sqlite"
              CMD_EMAIL: false
              CMD_ALLOW_EMAIL_REGISTER: false
              CMD_DOMAIN: md.immich.cloud
              CMD_PROTOCOL_USESSL: true
              CMD_ALLOW_ANONYMOUS: false
              CMD_OAUTH2_PROVIDERNAME: Immich
              CMD_OAUTH2_CLIENT_ID: hedgedoc
              CMD_OAUTH2_SCOPE: openid email groups profile
              CMD_OAUTH2_USER_PROFILE_USERNAME_ATTR: sub
              CMD_OAUTH2_USER_PROFILE_DISPLAY_NAME_ATTR: name
              CMD_OAUTH2_USER_PROFILE_EMAIL_ATTR: email
              CMD_OAUTH2_USER_PROFILE_URL: https://auth.immich.cloud/userinfo
              CMD_OAUTH2_TOKEN_URL: https://auth.immich.cloud/token
              CMD_OAUTH2_AUTHORIZATION_URL: https://auth.immich.cloud/auth
            envFrom:
              - secretRef:
                  name: hedgedoc-oauth
    persistence:
      data:
        enabled: true
        storageClass: zfs
        size: 5Gi
        accessMode: ReadWriteOnce
      uploads:
        enabled: true
        storageClass: zfs
        size: 5Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /hedgedoc/public/uploads
    service:
      main:
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: true
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - host: &host md.immich.cloud
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: hedgedoc-tls
