---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: registry
  namespace: registry-cache
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: registry
              tag: 2.8.3
            env:
              REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
              REGISTRY_PROXY_REMOTEURL: https://registry-1.docker.io
              # Default TTL is 7 days
              REGISTRY_DELETE_ENABLED: "true"
              # TODO: Docker hub creds
    service:
      main:
        ports:
          http:
            port: 5000
    persistence:
      data:
        enabled: true
        storageClass: zfs
        size: 100Gi
        accessMode: ReadWriteOnce
