---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: onepassword
spec:
  interval: 5m
  chart:
    spec:
      chart: connect
      version: 1.14.0
      sourceRef:
        kind: HelmRepository
        name: 1password
        namespace: flux-system
      interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    connect:
      credentialsName: onepassword-api
      credentialsKey: 1password-credentials.json
    operator:
      create: true
      autoRestart: true
      token:
        name: onepassword-api
        key: token
