---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-metrics
  namespace: operators
spec:
  interval: 5m
  chart:
    spec:
      chart: victoria-metrics-operator
      version: 0.58.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: victoria-metrics
        namespace: flux-system
  maxHistory: 2
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    crds: Skip
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    crds:
      enabled: false
