---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: flux-manifests
  namespace: flux-system
spec:
  interval: 10m
  url: oci://ghcr.io/fluxcd/flux-manifests
  ref:
    digest: sha256:8a1b40166d6b9575d8ba3987bca8d8cec629c4510cd2b4706bd005c4421b9cf6 # v2.5.1
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux
  namespace: flux-system
spec:
  interval: 10m
  path: ./
  prune: true
  wait: true
  sourceRef:
    kind: OCIRepository
    name: flux-manifests
  patches:
    - patch: |
        $patch: delete
        apiVersion: networking.k8s.io/v1
        kind: NetworkPolicy
        metadata:
          name: not-used
      target:
        group: networking.k8s.io
        version: v1
        kind: NetworkPolicy
    - patch: |
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --concurrent=8
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --kube-api-qps=500
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --kube-api-burst=1000
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --requeue-dependency=5s
      target:
        kind: Deployment
        name: "(kustomize-controller|helm-controller|source-controller)"
    - target:
        kind: CustomResourceDefinition
        name: receivers.notification.toolkit.fluxcd.io
      patch: |-
        - op: add
          path: /spec/versions/0/schema/openAPIV3Schema/properties/spec/properties/resources/items/properties/kind/enum/-
          value: ResourceSetInputProvider
        - op: add
          path: /spec/versions/1/schema/openAPIV3Schema/properties/spec/properties/resources/items/properties/kind/enum/-
          value: ResourceSetInputProvider
        - op: add
          path: /spec/versions/2/schema/openAPIV3Schema/properties/spec/properties/resources/items/properties/kind/enum/-
          value: ResourceSetInputProvider
    - target:
        kind: ClusterRole
        name: crd-controller
      patch: |-
        - op: add
          path: /rules/-
          value:
           apiGroups: [ 'fluxcd.controlplane.io' ]
           resources: [ '*' ]
           verbs: [ '*' ]
    - target:
        kind: ClusterRole
        name: crd-controller-flux-system
      patch: |-
        - op: add
          path: /rules/-
          value:
           apiGroups: [ 'fluxcd.controlplane.io' ]
           resources: [ '*' ]
           verbs: [ '*' ]
