---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: discord-bot
  namespace: tools
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      labels:
        podbump.bo0tzz.me/enabled: 'true'
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/discord-bot
              pullPolicy: Always
              tag: main
            envFrom:
              - secretRef:
                  name: discord-bot
              - secretRef:
                  name: bot-github-webhook-slug
              - secretRef:
                  name: bot-fourthwall-webhook-slug
              - secretRef:
                  name: zulip-bot
              - secretRef:
                  name: discord-bot-db-app
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - host: &host1 api.immich.app
            paths:
              - path: /
                service:
                  name: main
                  port: http
          - host: &host2 discord-webhooks.immich.cloud
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host1
              - *host2
            secretName: discord-webhooks-tls
