apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: discord-bot
  namespace: tools
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1p-tf
  refreshInterval: "1h"
  data:
    - secretKey: IMMICH_GITHUB_CLIENT_ID
      remoteRef:
        key: IMMICH_GITHUB_CLIENT_ID
    - secretKey: IMMICH_GITHUB_CLIENT_SECRET
      remoteRef:
        key: IMMICH_GITHUB_CLIENT_SECRET
    - secretKey: BOT_TOKEN
      remoteRef:
        key: IMMICH_DISCORD_BOT_TOKEN
    - secretKey: ZULIP_USERNAME
      remoteRef:
        key: IMMICH_ZULIP_BOT_USERNAME
    - secretKey: ZULIP_API_KEY
      remoteRef:
        key: IMMICH_ZULIP_BOT_API_KEY
    - secretKey: ZULIP_DOMAIN
      remoteRef:
        key: FUTO_ZULIP_DOMAIN
    - secretKey: GITHUB_SLUG
      remoteRef:
        key: IMMICH_DISCORD_BOT_GITHUB_WEBHOOK_SLUG
    - secretKey: GITHUB_STATUS_SLUG
      remoteRef:
        key: IMMICH_DISCORD_BOT_GITHUB_STATUS_SLUG
    - secretKey: STRIPE_PAYMENT_SLUG
      remoteRef:
        key: IMMICH_DISCORD_BOT_STRIPE_PAYMENT_SLUG
    - secretKey: FOURTHWALL_USER
      remoteRef:
        key: FOURTHWALL_USER
    - secretKey: FOURTHWALL_PASSWORD
      remoteRef:
        key: FOURTHWALL_PASSWORD
    - secretKey: FOURTHWALL_SLUG
      remoteRef:
        key: IMMICH_DISCORD_BOT_FOURTHWALL_WEBHOOK_SLUG
    - secretKey: GITHUB_APP_ID
      remoteRef:
        key: GITHUB_APP_IMMICH_READ_ONLY
        property: app_id
    - secretKey: GITHUB_INSTALLATION_ID
      remoteRef:
        key: GITHUB_APP_IMMICH_READ_ONLY
        property: installation_id
    - secretKey: GITHUB_PRIVATE_KEY
      remoteRef:
        key: GITHUB_APP_IMMICH_READ_ONLY
        property: pkcs8
    - secretKey: OUTLINE_API_KEY
      remoteRef:
        key: OUTLINE_API_KEY
