[tools]
flux2 = "2.7.5"
"go:github.com/cloudnative-pg/cloudnative-pg/cmd/kubectl-cnpg" = "1.28.0"
helm = "4.1.0"
jq = "1.8.1"
kubectl = "1.35.0"
opentofu = "1.11.4"
"pipx:flux-local" = "8.1.0"
terragrunt = "0.98.0"
usage = "2.13.1"
uv = "0.9.26"
yamlfmt = "0.21.0"

[env]
KUBECONFIG = "{{config_root}}/.mise/kube.config"

[tasks.tg]
run = "op run '--env-file={{config_root}}/tf/deployment/.env' -- terragrunt"
description = "Wrapper for terragrunt"
dir = "{{cwd}}"

[tasks."tg:fmt"]
run = "mise run tg hcl format"
description = "Format terragrunt files"

[tasks.tf]
run = "mise run tg run --all"
description = "Wrapper for terragrunt run-all"
dir = "{{cwd}}"

[tasks."tf:fmt"]
run = "tofu fmt -recursive tf/"
description = "Format terraform files"

[tasks."tf:init"]
run = "mise run tf init -- -reconfigure"
dir = "{{cwd}}"

[tasks."tf:plan"]
run = "mise run tf plan"
dir = "{{cwd}}"

[tasks."tf:apply"]
run = "mise run tf apply"
dir = "{{cwd}}"

[tasks."kube:fmt"]
run = "yamlfmt kubernetes/ templates/kubernetes/"
description = "Format kubernetes manifests"

[tasks."kube:auth"]
run = "op inject -i .mise/kube-exec-credential.json | jq '.status.[] |= @base64d'"
description = "Retrieve kubectl auth key"
silent = true
hide = true

[tasks."kube:diff"]
run = "flux-local diff hr --path ./kubernetes -A --branch-orig main"
description = "Diff kubernetes helm releases"

[tasks.fmt]
depends = ["*:fmt"]
description = "Format all files"

[settings]
experimental = true
