[tools]
flux2 = "2.5.1"
helm = "3.17.3"
jq = "1.7.1"
kubectl = "1.32.3"
opentofu = "1.7.1"
"pipx:flux-local" = "7.3.0"
terragrunt = "0.58.12"
uv = "0.7.2"
yamlfmt = "0.16.0"

[env]
KUBECONFIG = "{{config_root}}/.mise/kube.config"

[tasks.tg]
run = "op run '--env-file={{config_root}}/tf/deployment/.env' -- terragrunt"
description = "Wrapper for terragrunt"
dir = "{{cwd}}"

[tasks."tg:fmt"]
run = "mise run tg hclfmt"
description = "Format terragrunt files"

[tasks.tf]
run = "mise run tg run-all"
description = "Wrapper for terragrunt run-all"

[tasks."tf:fmt"]
run = "tofu fmt -recursive tf/"
description = "Format terraform files"

[tasks."kube:fmt"]
run = "yamlfmt kubernetes/ templates/kubernetes/"
description = "Format kubernetes manifests"

[tasks."kube:auth"]
run = "op inject -i .mise/kube-exec-credential.json | jq '.status.[] |= @base64d'"
description = "Retrieve kubectl auth key"
silent = true
hide = true

[tasks."kube:diff"]
run = "flux-local diff hr --path ./kubernetes -A --branch-orig main"
description = "Diff kubernetes helm releases"

[tasks.fmt]
depends = ["*:fmt"]
description = "Format all files"
