apiVersion: v1
clusters:
  - cluster:
      certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJlRENDQVIyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWpNU0V3SHdZRFZRUUREQmhyTTNNdGMyVnkKZG1WeUxXTmhRREUzTURrd05UQTNOelF3SGhjTk1qUXdNakkzTVRZeE9UTTBXaGNOTXpRd01qSTBNVFl4T1RNMApXakFqTVNFd0h3WURWUVFEREJock0zTXRjMlZ5ZG1WeUxXTmhRREUzTURrd05UQTNOelF3V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFUSUxoS3dLZFlEbDRKL3VlS0FBN3BMdTRNL2JrNkQ4N0o5N3NqYWdwZ3UKb25DNnpHNFVaWlRFbXVqUURtQU9KdGxlTHBDMzBDc0U3WkNWV2xTUmVmdVBvMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVXc1S0VGcmtZN0lxTE5EUEYxWXdmCnZlb3B4STR3Q2dZSUtvWkl6ajBFQXdJRFNRQXdSZ0loQU5FZXRzS0RlZ045a1BzcDJPV0hzQTRZMHAxQjhGSGQKQkJhTko1L09hQzgzQWlFQWw3V3huYzJrN2NlaC9Gdm4wMlpDenI1V09KZ3FjT21xMkVWcTIvZ0RPUE09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
      server: https://mich.immich.cloud:6443
    name: mich
contexts:
  - context:
      cluster: mich
      user: mich
    name: mich
current-context: mich
kind: Config
preferences: {}
users:
  - name: mich
    user:
      exec:
        command: mise
        args:
          - run
          - kube:auth
        apiVersion: "client.authentication.k8s.io/v1"
        interactiveMode: Never
