apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: outline-db
  namespace: tools
spec:
  storage:
    size: 10Gi
    storageClass: zfs
  backup:
    retentionPolicy: "14d"
    barmanObjectStore:
      # TODO: Adjust to tofu/1pw secret contents
      destinationPath: s3://${bucket_name}
      endpointURL: ${api_endpoint}
      wal:
        compression: bzip2
      s3Credentials:
        accessKeyId:
          name: outline-database-backup
          key: AWS_ACCESS_KEY_ID
        secretAccessKey:
          name: outline-database-backup
          key: AWS_SECRET_ACCESS_KEY
