---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: outline
  namespace: tools
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      outline:
        containers:
          app:
            image:
              repository: docker.io/outlinewiki/outline
              tag: 0.81.1@sha256:e539971b59b2523ab54bf792105d1cff6432974a37e18211c175cd053d7feb62
            env:
              #ref https://github.com/outline/outline/blob/d3c8224839f09fbff601e4a3e7fd8ff1a6b2ba08/.env.sample
              URL: "https://outline.immich.cloud"
              REDIS_URL: "redis://outline-valkey:6379"
              ENABLE_UPDATES: false
              FILE_STORAGE: local
              FILE_STORAGE_LOCAL_ROOT_DIR: /data
              FILE_STORAGE_UPLOAD_MAX_SIZE: &upload-limit "26214400"
              FILE_STORAGE_IMPORT_MAX_SIZE: *upload-limit
              OIDC_CLIENT_ID: outline
              OIDC_SCOPES: "openid profile email"
              OIDC_AUTH_URI: "https://auth.immich.cloud/auth"
              OIDC_TOKEN_URI: "https://auth.immich.cloud/token"
              OIDC_USERINFO_URI: "https://auth.immich.cloud/userinfo"
              WEB_CONCURRENCY: 10
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: outline-db-app
                    key: uri
            envFrom:
              - secretRef:
                  name: outline-secret
            securityContext:
              fsGroup: 1001
      valkey:
        containers:
          app:
            image:
              repository: valkey/valkey
              tag: 8.0.2@sha256:e6a5b8e3e537cff12844c9be87d5f5e3c27e55c86833e92447e0bf33ce735ead
    persistence:
      data:
        enabled: true
        existingClaim: outline
        advancedMounts:
          outline:
            app:
              - path: /data
    service:
      app:
        controller: outline
        ports:
          http:
            port: 3000
      valkey:
        controller: valkey
        ports:
          main:
            port: 6379
    ingress:
      app:
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          nginx.ingress.kubernetes.io/proxy-body-size: *upload-limit
        hosts:
          - host: &host "outline.immich.cloud"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: outline-tls
