---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: victoria-logs-single
      version: 0.11.26
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: victoria-metrics
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    server:
      enabled: true
      retentionPeriod: 7d
      persistentVolume:
        existingClaim: victoria-logs
    vector:
      enabled: true
    dashboards:
      grafanaOperator:
        enabled: true
