---
name: "Flux Diff"

on:
  pull_request:
    paths: ["kubernetes/**", "templates/kubernetes/**", ".github/workflows/flux-diff.yml"]

jobs:
  flux-diff:
    name: Flux Diff
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      pull-requests: write
    strategy:
      matrix:
        resource: ["helmrelease", "kustomization"]
    steps:
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@f251e8e8a9b289283be055d65ae4a4ee595f7a14 # v2.7.0

      - name: Diff Resources
        uses: allenporter/flux-local/action/diff@659368568595955af6a17076b6814248f99a7e2b # 7.10.0
        id: diff
        with:
          path: "./kubernetes"
          live-branch: "${{ github.event.pull_request.base.ref }}"
          resource: "${{ matrix.resource }}"
          skip-crds: "false"

      - if: ${{ steps.diff.outputs.diff != '' }}
        name: Add comment
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        with:
          message-id: "${{ github.event.pull_request.number }}/${{ matrix.path }}/${{ matrix.resource }}"
          message-failure: Diff was not successful
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```
