---
name: "Flux Diff"

on:
  pull_request:
    paths: ["kubernetes/**", "templates/kubernetes/**", ".github/workflows/flux-diff.yml"]

jobs:
  flux-diff:
    name: Flux Diff
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      pull-requests: write
    strategy:
      matrix:
        resource: ["helmrelease", "kustomization"]
    steps:
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@b6e76ca2534f76dcb8dd94fb057cdfa923c3b641 # v2.7.3

      - name: Diff Resources
        uses: allenporter/flux-local/action/diff@3cf5a0ae2e9bb0fb6c1f5979e34dd5f892286f64 # 8.0.1
        id: diff
        with:
          path: "./kubernetes"
          live-branch: "${{ github.event.pull_request.base.ref }}"
          resource: "${{ matrix.resource }}"
          skip-crds: "false"

      - if: ${{ steps.diff.outputs.diff != '' }}
        name: Add comment
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        with:
          message-id: "${{ github.event.pull_request.number }}/${{ matrix.path }}/${{ matrix.resource }}"
          message-failure: Diff was not successful
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```
